<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"  />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index">ASIH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
     
      <li class="nav-item">
        <a class="nav-link" href="listar">Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=doctores>Doctores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=personal>Personal</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link disabled" href="area">Area</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <h1>Asistente hospitalario</h1> 
  <p>Tu mejor opcion</p> 
</div>
<div class="container">
	<table class="table">
		 <thead>
		  <tr>
		     <th scope="col">No. Area</th>
		     <th scope="col">Nombre</th>
		     <th scope="col">Descripcion</th>
		  </tr>
		 </thead>
		 <!--tfoot>
		  <tr>
		     <td>Sum</td>
		     <td>$180</td>
		  </tr>
		 </tfoot
		 -->
		 <tbody><!-- 
		  <tr th:each="area: area">
		     <td th:text="${area.DES_AREA}" />
		     <td th:text="${area.NOM_AREA}" />
		     <td th:text="${area.createAt}" />
		       </tr> -->
		 </tbody>
		</table>
		
<a class="btn btn-primary" th:href="@{/formDoctores}">Crear Area</a>
</div>
</body>
</html>