<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"  />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ASIH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
     
      <li class="nav-item">
        <a class="nav-link" href="listar">Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=doctores>Doctores</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href=personal>Personal</a>
      </li>
     <li class="nav-item">
        <a class="nav-link disabled" href="farmacia">Farmacia</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Asistente Hospitalario</h1> 
  <p>Te encuentras en el Área de Doctores</p> 
</div>
<div class="container">
	<table class="table">
 <thead>
  <tr>
     <th scope="col">Nombre Doctor</th>
     <th scope="col">Apellido Doctor</th>
       <th scope="col">Direccion</th>
     <th scope="col">Telefono</th>
  </tr>
 </thead>
 <!--tfoot>
  <tr>
     <td>Sum</td>
     <td>$180</td>
  </tr>
 </tfoot-->
 <tbody>
  <tr th:each="doctores: ${doctores}">
     <td th:text="${doctores.NOM_DOCTOR}" />
     <td th:text="${doctores.APE_DOCTOR}" />
     <td th:text="${doctores.DIR_DOCTOR}" />
     <td th:text="${doctores.TEL_DOCTOR}" />
       
     <td> <a th:href="@{/formDoctores/} + ${doctores.id}" th:text="'Editar'" class="btn btn-primary btn-xs" ></a></td>
     <td> <a th:href="@{/eliminarDoctores/} + ${doctores.id}" th:text="'Eliminar'" class="btn btn-danger btn-xs" onclick="return confirm('Estas seguro?')" ></a></td>
  </tr>
 </tbody>
</table>

<a class="btn btn-primary" th:href="@{/formDoctores}">Crear doctores</a>
</div>
</body>
</html>