<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"  />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ASIH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a class="nav-link" href="listar">Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=doctores>Doctores</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href=personal>Personal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="form">Area</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <h1>Asistente Hospitalario</h1> 
  <p>Te encuentras en el Area de Doctores</p> 
</div>

<div class="container">
<form th:action="@{/formDoctores}" th:object="${doctores}" method="post" >
	<!-- -->

    	<div class="form-group">
    	<label for="NOM_DOCTOR">Nombre</label>
    	<input type="text" class="form-control" id="NOM_DOCTOR" placeholder="Nombre" th:field="*{NOM_DOCTOR}"/>
    	<small th:if="${#fields.hasErrors('NOM_DOCTOR')}" th:errors="*{NOM_DOCTOR}" class="form-text text-danger"></small>
  	</div>
	<div class="form-group">
    	<label for="APE_DOCTOR">Apellido</label>
    	<input type="text" class="form-control" id="APE_DOCTOR" placeholder="Apellido" th:field="*{APE_DOCTOR}"/>
    	<small th:if="${#fields.hasErrors('APE_DOCTOR')}" th:errors="*{APE_DOCTOR}" class="form-text text-danger"></small>
  	</div>
  	<div class="form-group">
    	<label for="DIR_DOCTOR">Direccion</label>
    	<input type="text" class="form-control" id="DIR_DOCTOR" placeholder="Direccion" th:field="*{DIR_DOCTOR}"/>
    	<small th:if="${#fields.hasErrors('DIR_DOCTOR')}" th:errors="*{DIR_DOCTOR}" class="form-text text-danger"></small>
  	</div>
  	<div class="form-group">
    	<label for="TEL_DOCTOR">Telefono</label>
    	<input type="text" class="form-control" id="TEL_DOCTOR" placeholder="Telefono" th:field="*{TEL_DOCTOR}"/>
    	<small th:if="${#fields.hasErrors('TEL_DOCTOR')}" th:errors="*{TEL_DOCTOR}" class="form-text text-danger"></small>
  	</div>
  	
	
  	
  	<input class="btn btn-primary" type="submit" value="Guardar" />
  	<input type="hidden" id="id" th:field="*{id}">
</form>
</div>
</body>
</html>